{% set contentType = _target | replace({"_":" "}) | title ~ ' Fields' %}
{% set apiPath = 'api/v1/field/' ~ _target | replace({"_":"-"})  %}
{% set formAction = 'Update' %}
{% set formCallbackData %}
function(data){
  console.log(data);
  return data;
}
{% endset %}

{% extends "admin.form.html.twig" %}
{% import "field.html.twig" as field %}

{% block form %}
{% for row in data %}
{{ field.configure({"_name":"update","labelWidth":2}|merge(row)) }}
{% endfor %}
<div class="addmore mb-4">
  {{ field.configure({"labelWidth":2}) }}
</div>
{% endblock %}

{% block buttons %}
<div class="form-group row">
  <div class="col-sm-10 offset-sm-2 text-right">
    <button type="submit" class="btn btn-primary" data-callback="function(settings){}">{{ formAction }} {{ contentType }}</button>
  </div>
</div>
{% endblock %}