{% macro input(type, name, label, options, custom) %}
  
  {% if custom.field_id %}
    <input name="{{ name }}[field_id]" value="{{ custom.field_id }}" type="hidden">
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::HIDDEN') %}
    <input
      type="hidden"
      class="{{ options.inputClass }}"
      {{ options.inputAttr|join(' ') }}
      name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
      value="{{ options.value|e }}"
    >
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_SHORT') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          type="text"
          class="form-control {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          value="{{ options.value|e }}"
          size="{{ options.length|default(20) }}"
          {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_URI') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input 
          type="text" 
          class="form-control uri {{ options.inputClass }}" 
          {{ options.inputAttr|join(' ') }} 
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}" 
          value="{{ options.value|e }}" size="{{ options.length|default(20) }}" 
          data-target="{{ options.target }}"
          {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_DATETIME') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input 
          type="text"
          class="form-control date {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          {% if options.time %}data-time="true"{% endif %}
          {% if options.range %}data-range="true"{% endif %}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          value="{{ options.value|e }}"
          size="{{ options.length|default(20) }}"
          autocomplete="off"
          {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_NUMERIC') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          class="form-control {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          type="number"
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          {% if options.required == true %}required{% endif %}
          {% if options.max %}max="{{ options.max }}"{% endif %}
          {% if options.min %}min="{{ options.min }}"{% endif %}
          {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
          value="{{ options.value|e }}"
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_LONG') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <textarea
          class="form-control {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          {% if options.required == true %}required{% endif %}
          {% if options.max %} maxlength="{{ options.max }}"{% endif %}
        >{{ options.value|e }}</textarea>
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_TAGS') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          type="text"
          class="form-control taggable {{ options.inputClass }}"
          {% if options.source %}data-source="{{ options.source }}"{% endif %}
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          {# Real test for if it is a string will have to go in #}
          value="{% if options.value is string %}{{ options.value|e }}{% else %}{{ options.value|join(',')|e }}{% endif %}"
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::TEXT_EMAIL') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          type="email"
          class="form-control {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          value="{{ options.value|e }}"
          size="{{ options.length|default(20) }}"
          {% if options.placeholder %}placeholder="{{ options.placeholder }}"{% endif %}
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::WYSIWYG') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <textarea
          class="form-control wysiwyg {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          {% if options.required == true %}required{% endif %}
          {% if options.max %} maxlength="{{ options.max }}"{% endif %}
        >{{ options.value|e }}</textarea>
      </div>
    </div>
  {% endif %}
      
  {% if type == constant('\\FAE\\fields\\field::BOOL_SIMPLE') %}
  {% set inputValue = options.inputValue|default(1) %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <div class="form-check">
          <input
            class="form-check-input"
            type="checkbox"
            name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
            value="{{ inputValue }}"
            {% if options.value == inputValue %}checked{% endif %}
          >
        </div>
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::BOOL_EXT') %}
    <div class="form-group row"><label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label><div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="radio" name="fid[xx{{ name }}]" data-toggle="toggle-custom" data-state="'.($opts['inverse'] ? 'hide' : 'show').'" data-target="#{{ options.uri }}-text" value="1"'.(strlen($content) ? ' checked' : '').'> Yes</label></div>
    <div class="form-check"><label class="form-check-label"><input class="form-check-input" type="radio" name="fid[xx{{ name }}]" data-toggle="toggle-custom" data-state="'.($opts['inverse'] ? 'show' : 'hide').'" data-target="#{{ options.uri }}-text" value="0"'.(!strlen($content) ? ' checked' : '').'> No</label></div>
    </div></div><div id="{{ options.uri }}-text" class="form-group row"><div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }} offset-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }}">
    <textarea class="form-control {{ options.inputClass }}" {{ options.inputAttr|join(' ') }} name="{{ name }}"'.{% if options.required == true %} required{% endif %}.(is_numeric($opts['max']) ? ' maxlength="{{ options.max }}"' : '').'>{{ options.value|e }}</textarea>
    </div></div>
  {% endif %}
      
  {% if type == constant('\\FAE\\fields\\field::SELECT_SIMPLE') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        {% if options.col %}
          {% set dataval = [] %}
          {% for val in options.value %}
            {% set dataval = dataval|merge([val[options.col]]) %}
          {% endfor %}
          {% set dataval = dataval|join(',') %}
        {% else %}
          {% if options.value is iterable %}
            {% set dataval = options.value|join(',') %}
          {% else %}
            {% set dataval = options.value %}
          {% endif %}
        {% endif %}
        {% if options.opts and options.opts is not iterable and options.opts|length > 0 %}
        {% set options = options|merge({opts: options.opts|split(';')}) %}
        {% endif %}
        <select
          name="{{ name }}{% if options.multiple %}[]{% endif %}{% if options.col %}[{{ options.col }}]{% endif %}"
          {% if options.source %}
            data-source="{{ options.source }}"
            {% if options.value %}data-value="{{ dataval }}"{% endif %}
            {% if options.display %}data-display="{{ options.display }}"{% endif %}
            {% if options.filter %}data-filter="{{ options.filter|json_encode }}"{% endif %}
          {% endif %}
          {% if options.placeholder %}placeholder="{{ options.placeholder }}" data-allow-clear="true"{% endif %}
          {% if options.multiple == true %}multiple{% endif %}
          {% if options.required == true %}required{% endif %}
        >
          {% for value, text in options.opts %}
            {% if options.hideKeys == true %}
              <option{% if options.value is string and text == options.value %} selected{% endif %}{% if options.value is iterable and text in options.value %} selected{% endif %}>{{ text }}</option>
            {% else %}
              <option value="{{ value }}"{% if value == options.value %} selected{% endif %}{% if value in options.value %} selected{% endif %}>{{ text }}</option>
            {% endif %}
          {% endfor %}
        </select>
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::SELECT_SCORE') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        {% for d in options.min..options.max %}
        <div class="score">
          <label><input type="radio" name="{{ name }}" value="{{ d }}"{% if d == options.value %} checked{% endif %}></label>
          <span class="item">{{ d }}</span>
          {% if options.min == d %}<span class="text"> Low</span>{% endif %}
          {% if options.max == d %}<span class="text"> High</span>{% endif %}
        </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::COLOR') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          type="color"
          class="form-control {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}"
          value="{{ options.value|e }}"
          size="{{ options.length|default(20) }}"
          {% if options.required == true %}required{% endif %}
        >
      </div>
    </div>
  {% endif %}
      
  {% if type == constant('\\FAE\\fields\\field::PUBLICATIONS') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          name="{{ name }}{% if options.col %}[{{ options.col }}]{% endif %}[]"
          class="form-control pubmed-input {{ options.inputClass }}"
          {{ options.inputAttr|join(' ') }}
          data-existing="{{ options.value|json_encode() }}"
          type="text"
          placeholder="Enter PubMed ID numbers separated by comma (,)"
        >
      </div>
    </div>
  {% endif %}
      
  {% if type == constant('\\FAE\\fields\\field::FILE') %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <input
          type="file"
          name="{{ name }}{% if options.multiple %}[]{% endif %}{% if options.col %}[{{ options.col }}]{% endif %}"
          {% if options.multiple %}multiple{% endif %}
          {% if options.source %}data-source="{{ options.source }}"{% endif %}
          {% if options.sortable %}data-sortable="true"{% endif %}
          {{ options.inputAttr|join(' ') }}
          {% if options.value %}data-existing='[{{ options.value|join(',') }}]'{% endif %}
          data-random="true"
        >
      </div>
    </div>
  {% endif %}
  
  {% if type == constant('\\FAE\\fields\\field::RECAPTCHA') %}
    {% if _config.recaptchaPublic %}
    <div class="form-group row">
      <label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">
        {{ label|raw }}{% if options.required %} (*){% endif %}{% if options.help %} <i class="fa fa-question-circle" title="{{ options.help }}" data-tooltip="true"></i>{% endif %}:
      </label>
      <div class="col-{{ options.labelBreak|default('sm') }}-{{ 12 - options.labelWidth|default(3) }}">
        <div class="g-recaptcha" data-sitekey="{{ _config.recaptchaPublic }}"></div>
      </div>
    </div>
    {% endif %}
  {% endif %}
  
  {% if type == 'custom' %}
    {% include custom %}
  {% endif %}
  
{% endmacro %}

{% macro configure(options) %}
{% set fieldOptions = options.options|json_decode %}
<div class="form-group {{ options.groupClass }} row mb-4">
  {% if 'hideLabel' not in options %}<label class="col-{{ options.labelBreak|default('sm') }}-{{ options.labelWidth|default(3) }} col-form-label">{{ options.name|default('Add Field') }}{% if id in options %} [{{ options.weight }}]{% endif %}:</label>{% endif %}
  <div{% if 'hideLabel' not in options %} class="col-{{ options.labelBreak|default('sm') }}-{{ (12 - options.labelWidth)|default(9) }}"{% endif %}>
    <input class="form-control" type="hidden" name="{{ options._name|default('create') }}[{{ options.id }}][id]" value="{{ options.id }}">
    <div class="field-selector">
      <div class="field-header">
        <ol></ol>
      </div>
      <div id="field-config-{{ options.id | default('x') }}" class="field-steps carousel slide" data-label-width="{{ options.labelWidth|default(9) }}">
        <div class="carousel-inner" role="listbox">
          <div class="field-step carousel-item{% if 'owner' not in options %} active{% endif %}" data-title="Field Mapping">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Field Matches:</label>
              <div class="col-md-9">
                <select name="{{  options._name|default('create') }}[{{ options.id }}][parent_id]" class="field-selector-id form-control" data-container="body" placeholder="Custom Field" data-allow-clear="true">
                  <option value="NULL"{% if 'owner' in options %} selected{% endif %}>Custom Field</option>
                </select>
              </div>
              <div class="offset-md-3 col-md-9">
                <p>Matching an existing field rather than creating a new field allows you to automatically match data points in the database.</p>
              </div>
            </div>
          </div>
          <div class="field-step carousel-item{% if 'owner' in options %} active{% endif %}" data-title="Configuration">
            <div class="form-group row">
              <label class="col-md-3 col-form-label">Field Name:</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="{{ options._name|default('create') }}[{{ options.id }}][name]" value="{{ options.name }}">
              </div>
              <label class="col-md-3 col-form-label">Reference:</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="{{ options._name|default('create') }}[{{ options.id }}][ref]" value="{{ options.ref }}">
              </div>
              <label class="col-md-3 col-form-label">Required:</label>
              <div class="col-md-9">
                <div class="form-check">
                  <input class="form-check-input position-static" type="checkbox" name="{{ options._name|default('create') }}[{{ options.id }}][options][required]" aria-label="Required Field" value="1"{% if 'required' in options %} checked{% endif %}>
                </div>
              </div>
              <label class="col-md-3 col-form-label">Field Type:</label>
              <div class="col-md-9">
                <select name="{{ options._name|default('create') }}[{{ options.id }}][type]" class="form-control field-selector-type" data-live-search="false" data-container="body">';
                  {% for value, text in constant('\\FAE\\fields\\field::TYPES') %}
                    <option value="{{ value }}"{% if options.type == value %} selected{% endif %}>{{ text }}</option>
                  {% endfor %}
                </select>
              </div>
              <label class="col-md-3 col-form-label">Help Text:</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="{{ options._name|default('create') }}[{{ options.id }}][options][help]" value="{{ fieldOptions.help }}">
              </div>
              <label class="col-md-3 col-form-label">Default:</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="{{ options._name|default('create') }}[{{ options.id }}][options][defaultValue]" value="{{ fieldOptions.defaultValue }}">
              </div>
              <label class="col-md-3 col-form-label">Custom Weight <i class="fa fa-question-circle" title="Set a field weight to configure a custom order, lower numbers will go to the top and higher numbers will go to the bottom" data-tooltip="true"></i>:</label>
              <div class="col-md-9">
                <input class="form-control" type="text" name="{{ options._name|default('create') }}[{{ options.id }}][weight]" value="{{ options.weight }}">
              </div>
              <div class="col-12">
                <div class="field-type-options row" data-options='{{ fieldOptions|json_encode() }}' data-field-name="{{ options._name|default('create') }}[{{ options.id }}]">
                  <!-- Loading JS Field Options -->
                </div>
              </div>
            </div>
          </div>
          {% if 'permissions' in options %}
          <div class="field-step carousel-item" data-title="Permissions">
            Field-specific permissions setup is not yet available in this version
          </div>
          {% endif %}
        </div>
      </div>
      <div class="field-footer row">
        <div class="col-6"><a class="btn btn-secondary" href="#field-config-{{ options.id | default('x') }}" role="button" data-slide="prev"><i class="fa fa-chevron-left"></i> Prev</a></div>
        <div class="col-6 text-right"><a class="btn active btn-secondary" href="#field-config-{{ options.id | default('x') }}" role="button" data-slide="next">Next <i class="fa fa-chevron-right"></i></a></div>
      </div>
    </div>
  </div>
</div>
{% endmacro %}

{% macro renderer(name, fields, data, context) %}
  {% import _self as field %}
  {% for row in fields %}
    {# This value mangling will handle non-standardised data formatting for fields #}
    {% set value = '' %}
    {% for key, fieldData in data %}
      {% if row.id == key and not fieldData.field_id %}
        {% set value = fieldData %}
      {% endif %}
      {% if fieldData.field_id == row.id or (fieldData.ref == row.ref and row.ref) %}
        {% set value = fieldData.data %}
      {% endif %}
    {% endfor %}
    {% set row = row|merge({"options": row.options|merge({"value":value}) }) %}
    {# Do special dropdown handling for custom fields #}
    {% if row.type == constant('\\FAE\\fields\\field::SELECT_SIMPLE') %}
    {% set row = row|merge({"options": row.options|merge({"hideKeys":true}) }) %}
    {% endif %}
    {# Assign the autocomplete source url for special types #}
    {% if row.type == constant('\\FAE\\fields\\field::TEXT_TAGS') %}
    {% set row = row|merge({"options": row.options|merge({"source":link("api/field/"~context~"/"~row.id~"/options")}) }) %}
    {% endif %}
    {# Set the placeholder to the default #}
    {% if row.options.placeholder is empty and row.options.defaultValue is not empty %}
    {% set row = row|merge({"options": row.options|merge({"placeholder":row.options.defaultValue}) }) %}
    {% endif %}
    {{ field.input( row.type, name ~ '[' ~ row.ref|default(row.id) ~ ']', row.name, row.options ) }}
  {% endfor %}
{% endmacro %}
